/* Error messages */
.text-danger {
  font-size: 12px;
}

/* Container */
.container {
  margin-left: 400px;
}

/* Form groups and inputs */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control::placeholder {
  color: #888;
}

/* Card */
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.card h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Button styles */
.btn-outline-dark {
  border-color: #343a40;
  color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: white;
}

.rounded-pill {
  border-radius: 50px;
}

/* Animated ZoomIn effect */
.animated {
  animation-duration: 1s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

/* Additional styles */
form {
  background-color: #fff;
  max-width: 750px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="submit"],
button[type="submit"] {
  background-color: #b948b5;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.declaration {
  font-size: 14px;
}
