<app-navbar></app-navbar>
<div class="container mx-auto px-4">
    <div
        class="bg-white shadow-md rounded-md p-6 md:p-10 max-w-full mx-auto flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8 my-2 md:h-48">
        <div class="flex-shrink-0">
            <svg class="h-16 w-16 md:h-20 md:w-20 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M10 2a8 8 0 100 16 8 8 0 000-16zm-1 12V6a1 1 0 012 0v8a1 1 0 11-2 0zm1 4a9 9 0 110-18 9 9 0 010 18z"
                    clip-rule="evenodd" />
            </svg>
        </div>
        <div class="text-center md:text-left md:flex-grow">
            <h1 class="text-2xl md:text-4xl font-bold text-green-700">Vision</h1>
            <p class="text-base md:text-xl text-gray-700">We provide opportunities for citizens of Pune to resolve their
                grievances in one place</p>
        </div>
    </div>

    <div
        class="bg-white shadow-md rounded-md p-6 md:p-10 max-w-full mx-auto flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8 my-2 md:h-48">
        <div class="flex-shrink-0">
            <svg class="h-16 w-16 md:h-20 md:w-20 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-3m4 0v-4a2 2 0 00-2-2H7a2 2 0 00-2 2v4h4m0 0v4m0 0h1m0 0h-1m4-4v4m0 0h-1m1-4v-4a2 2 0 00-2-2h-2a2 2 0 00-2 2v4m4 0v4m-2-4v-4" />
            </svg>
        </div>
        <div class="text-center md:text-left md:flex-grow">
            <h1 class="text-2xl md:text-4xl font-bold text-green-700">Process</h1>
            <p class="text-base md:text-xl text-gray-700">Your complaint has to be filed. Once you file a complaint,
                your token number will be generated. Citizens can follow up their complaint only from that token number.
                You will know the current status of your complaint from that. The competent authority will try to
                resolve your complaint within 21 days.</p>
        </div>
    </div>

    <div
        class="bg-white shadow-md rounded-md p-6 md:p-10 max-w-full mx-auto flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8 my-2 md:h-48">
        <div class="flex-shrink-0">
            <svg class="h-16 w-16 md:h-20 md:w-20 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 10h2l.4 2M5 14h14l1.6-8H5.4M5 14L4.4 18m0 0H3m1.4 0h16.2a1 1 0 001-1l.6-3H5.4m0 4h-.6M9 21h6" />
            </svg>
        </div>
        <div class="text-center md:text-left md:flex-grow">
            <h1 class="text-2xl md:text-4xl font-bold text-green-700">Feedback</h1>
            <p class="text-base md:text-xl text-gray-700">Citizens can provide feedback for the quality of resolution of
                grievance through a "Satisfied" / "Dissatisfied" option.</p>
        </div>
    </div>

    <nav
        class="bg-gradient-to-r from-purple-500 to-red-500 text-white flex items-center justify-center rounded-2xl py-4 px-5 mt-2 mb-2 w-full">
        <ul class="flex flex-col md:flex-row md:space-x-8 space-y-4 md:space-y-0">
            <li>
                <a href="#" class="flex flex-col items-center">
                    <span>User Manual</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex flex-col items-center">
                    <span>Related Links</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex flex-col items-center">
                    <span>Media</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex flex-col items-center">
                    <span>Press Releases</span>
                </a>
            </li>
        </ul>
    </nav>
</div>